rootpanel
{
	pointer-events: all;
	background-color: black;
	opacity: 0.9;
}

label
{
	font-family: Times New Roman;
	font-size: 40px;
	font-weight: 900;
	color: white;
	left: 23%;
	top: 35%;
	text-shadow: 5px 5px 50px rgba( black, 0.8 );
}