label
{
	font-family: Times New Roman;
	font-size: 40px;
	font-weight: 900;
	color: white;
	left: 23%;
	top: 35%;
}
button
{
	font-family: Times New Roman;
	font-size: 40px;
	font-weight: 900;
	color: white;
	top: 15%;
	pointer-events: all;
	margin: 25px;
}